PORT=5000
MONGODB_URI=mongodb://<db_username>:<db_password>@ac-pc7hrbc-shard-00-00.ce0d564.mongodb.net:27017,ac-pc7hrbc-shard-00-01.ce0d564.mongodb.net:27017,ac-pc7hrbc-shard-00-02.ce0d564.mongodb.net:27017/?ssl=true&replicaSet=atlas-880p1t-shard-0&authSource=admin&appName=Cluster0,